* {
    border: none;
}

.pagecadastro {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    /* background: url("/static/img/mmn.jpg");
    background-position-x: -200px;
    background-repeat: no-repeat; */
    background-color: #3d3d3d;
    font-family: sans-serif;
}

label {
    font-size: 0.7rem;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1.5px;
    color: rgba(24, 24, 24, 0.767);
}

div.registrar {
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    background-color: #fff;

}

form a{
    font-size: 0.6rem;
    color: blue;
    text-decoration: underline;
}

form button{
    padding: 0;
    margin-left: 20px;
}

.cliente form {
    padding: 30px;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-direction: column;
}

.organization form {
    padding: 30px;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-direction: column;
}

.caixa {
    height: 30px;
}

.caixa input {
    height: 20px;
}

.btnSeleciona {
    width: 230px;
    height: 230px;
    /* background: #3A1A53; */
    color: #fff;
    font-size: 27px;
}

#maior {
    display: none;
}

#first {
    background-color: white;
    background-image: url("/static/img/pacient.png");
}

#second {
    background-color: white;
}

#form.a {
    display: none;
    display: flex;
    justify-content: space-around;
}

#form.b {
    display: none;
    display: flex;
    justify-content: space-around;
}

.titulobotoes {
    font-size: 35px;
    font-weight: bold;
    /* color: white; */
    margin-bottom: 0;
    margin-top: 0;
    font-family: 'Varela Round', sans-serif;
}

.ordem {
    background-color: white;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-direction: row;
}

.land {
    flex-direction: column;
}

.master {
    align-items: center;
}

.master:hover {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.418);
    cursor: pointer;
}

.master p {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    color: black;
    font-family: 'Varela Round', sans-serif;
}

.primar {
    color: #fff;
    background-color: #1289A7;
    border-radius: 35px;
    transition: 0.5s;
    font-size: 1.6rem;
    font-weight: bold;
    padding: 0 25px;
    cursor: pointer;
    outline: none;
    width: 220px;
    height: 45px;
    font-family: 'Varela Round', sans-serif;
    transition: .2s;
}

@keyframes botaocadastro {
    0% {
        transform: rotateX(0);
    }

    50% {
        transform: rotateX(180deg);
    }

    100% {
        transform: rotateX(0);
    }
}

.primar:hover {
    animation-name: botaocadastro;
    animation-delay: .1s;
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-iteration-count: 1
}

h2 {
    font-family: 'Varela Round', sans-serif;
}

input,
option,
select {
    box-shadow: 1px 1px 1px 2px #3333333b;
    padding-left: 15px;
    height: 30px;
}

.c {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 30px;
}

.d {
    display: flex;
}

fieldset {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}