{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <script src="{% static 'js/scroll-suave.js' %}" defer></script>
    <script src="{% static 'js/buscarCEP.js' %}" defer></script>
    <script src="{% static 'js/validarCPF.js' %}" defer></script>
    <title> Demoday </title>
</head>

<body>
    <header></header>

    {% block conteudo %}

    {% endblock %}
    
</body>
</html>
