{% extends 'shared/layout.html' %}

{% block conteudo %}
<form class="paciente" action="/cadastro" method="POST">
    {% csrf_token %}

    <label> Nome </label>
    <input type="text" name="nome" required>

    <label> Sobrenome </label>
    <input type="text" name="sobrenome" required>

    <label> Data de Nascimento </label>
    <input type="date" name="data_nasc" required>

    <label> Gênero </label>
    <select name="genero" required>
        <option value="#"> Selecione </option>
        <option value="F"> Feminino </option>
        <option value="M"> Masculino </option>
        <option value="O"> Outros </option>
    </select>

    <label> CPF </label>
    <input type="text" name="cpf" placeholder="327.167.865-12" required>

    <label> Telefone </label>
    <input type="text" name="telefone" placeholder="96342-6101" required>

    <label> CEP </label>
    <input type="text" name="cep" placeholder='02873-000' required>

    <label> Rua </label>
    <input type="text" name="rua" required>

    <label> Complemento </label>
    <input type="text" name="complemento"  placeholder='Casa'>

    <label> Bairro </label>
    <input type="text" name="bairro" required>

    <label> Cidade </label>
    <input type="text" name="cidade" required>

    <label> UF </label>
    <input type="text" name="uf" >

    <label> Email </label>
    <input type="text" name="email" required>

    <label> Senha </label>
    <input type="password" name="senha" maxlength="8">

    <input type="submit" value="Cadastrar">

</form>

<form class="instituicao" action="/cadastro" method="POST">
    {% csrf_token %}

    <label> Nome da Empresa </label>
    <input type="text" name="nome-empresa" required>

    <label> CNPJ </label>
    <input type="text" name="cnpj" required>

    <label> Telefone Comercial </label>
    <input type="text" name="telefone_comercial" placeholder="96342-6101" required>

    <label> CEP </label>
    <input type="text" name="cep" placeholder='02873-000' required>

    <label> Rua </label>
    <input type="text" name="rua" required>

    <label> Complemento </label>
    <input type="text" name="complemento"  placeholder='Casa'>

    <label> Bairro </label>
    <input type="text" name="bairro" required>

    <label> Cidade </label>
    <input type="text" name="cidade" required>

    <label> UF </label>
    <input type="text" name="uf" >

    <label> Email Comercial </label>
    <input type="text" name="email_comercial" required>

    <label> Senha </label>
    <input type="password" name="senha" maxlength="8">

    <input type="submit" value="Cadastrar">

</form>




{% endblock %}