{% extends 'shared/layout-cadastro.html' %}

{% block conteudo %}

<div id="container"> 
    <div class="caixa">
        <input id='first' type="image" src="/static/img/NewPatient.png" draggable="false" >
        <p> Paciente </p>
    </div>

    <div class="caixa">
        <input id='second' type="image"  src="/static/img/inst.png " draggable="false">
        <p> Instituição </p>
    </div>
</div>

<section id="formulários">

    <form id="paciente" action="/cadastro" method="POST">
        {% csrf_token %}

        <div class="column1">
            <h2> 1.Dados Pessoais</h2>
            <label> Nome </label>
            <input type="text" name="nome" required>


            <label> Sobrenome </label>
            <input type="text" name="sobrenome" required>

            <label> Data de Nascimento </label>
            <input type="date" name="data_nasc" prequired>

            <label> Gênero </label>
            <select name="genero" required>
                <option value="#"> Selecione </option>
                <option value="F"> Feminino </option>
                <option value="M"> Masculino </option>
                <option value="O"> Outros </option>
            </select>

            <label> CPF </label>
            <input class='cpf-input' type="text" name="cpf" maxlength='14' required>

            <label> Telefone </label>
            <input type="text" name="telefone" placeholder="Ex: 96342-6101" maxlength="11" required>
        </div>

        <div class="column2">
            <h2> 2.Endereço </h2>
            <label> CEP </label>
            <input class='cep-input' type="text" name="cep" placeholder='Ex: 02873-000' maxlength="9" required>
            <button class='btn' type='button'> Buscar Endereço </button>

            <label> Rua </label>
            <input type="text" name="rua" required>

            <label> Complemento </label>
            <input type="text" name="complemento" placeholder=' Ex:Casa'>

            <label> Bairro </label>
            <input type="text" name="bairro" required>

            <label> Cidade </label>
            <input type="text" name="cidade" required>

            <label> UF </label>
            <input type="text" name="uf" placeholder="Ex:SP" maxlength="2">
        </div>

        <div class="column3">
            <h2> 3.Conta</h2>
            <label> Email </label>
            <input type="email" name="email" placeholder=' exemplo@gmail.com' required>

            <label> Senha </label>
            <input type="password" name="senha" minlength='5' maxlength="8">

            <input class='button' type="submit" value="Cadastrar">
        </div>
    </form>



    <form id="instituicao" action="/cadastro_instituicao" method="POST">
        {% csrf_token %}

        <div class="column1">
            <h2> 1.Dados da Empresa </h2>
            <label> Nome da Empresa </label>
            <input type="text" name="nome_empresa" required>

            <label> CNPJ </label>
            <input type="text" name="cnpj" required>

            <label> Telefone Comercial </label>
            <input type="text" name="telefone_comercial" placeholder="Ex:96342-6101" required>
        </div>

        <div class="column2">
            <h2> 2.Endereço </h2>
            <label> CEP </label>
            <input class='cep-input' type="text" name="cep" placeholder='Ex: 02873-000' maxlength="9" required>
            <button class='btn' type='button'> Buscar Endereço </button>

            <label> Rua </label>
            <input type="text" name="rua" required>

            <label> Complemento </label>
            <input type="text" name="complemento" placeholder='Ex:Casa'>

            <label> Bairro </label>
            <input type="text" name="bairro" required>

            <label> Cidade </label>
            <input type="text" name="cidade" required>

            <label> UF </label>
            <input type="text" name="uf" maxlength="2">
        </div>

        <div class="column3">
            <h2> 3.Conta </h2>
            <label> Email Comercial </label>
            <input type="text" name="email_comercial" placeholder=' exemplo@gmail.com' required>

            <label> Senha </label>
            <input type="password" name="senha" maxlength="8">
            <input class='button' type="submit" value="Cadastrar">
        </div>
    </form>
</section>




{% endblock %}