{% extends 'shared/layout.html' %}
{% load static %}
{% block conteudo %}

<body>
    <nav>
        <span class="logo">logo bonitão</span>
        <ul>
            <li><a id="link-inicio"> inicio </a> </li>
            <li><a id="link-sobre"> sobre nós</a> </li>
            <li><a id="link-outro"> levar p carrossel</a> </li>

            <div class="buttons">
                <a href="cadastro"><button class="primary">cadastre-se</button></a>
                <button id="btnmostar" class="btnmostar">entre</button>
            </div>
        </ul>
    </nav>

    <header>
        <div class="info-content">
            <h1>titulo de um site sobre etc etc </h1>
            <p>Como podemos te ajudar hoje?</p>
            <form class="search-bar" action="/">
                {% csrf_token %}
                <input class="text input" name=`search-bar` type="text" name="" id="" placeholder="onde você está?">
                <input class="sub input" type="submit" value="Q">
            </form>
        </div>
    </header>

    <section class="sobre">
        <h2>um pouco sobre nós</h2>
        <div class="sobre-content">
            <div class="items">
                <img src="{% static 'img/video-call.svg' %}" alt="">
                <h2>Editable Theme</h2>
                <p>VAMOS FAZER ESSE TEXTINHO GALERIS</p>
            </div>
            <hr>
            <div class="items">
                <img src="{% static 'img/heart.svg' %}" alt="">
                <h2>Flat Design</h2>
                <p>VAMOS FAZER ESSE TEXTINHO GALERIS</p>
            </div>
            <hr>
            <div class="items">
                <img src="{% static 'img/map-location.svg' %}" alt="">
                <h2>Reach your audience</h2>
                <p>VAMOS FAZER ESSE TEXTINHO GALERIS</p>
            </div>
            <hr>
        </div>
    </section>

    <section class="contact" id="2">
        <div class="form">
            <h2>Get notified of any updates!</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisic Lorem ipsum, dolor sit amet consectetur adipisic</p>
            <span class="input">
                <input type="text" placeholder="email adress">
                <button>Demoday</button>
            </span>
        </div>
    </section>

    <footer>
        <div class="footer-card">
            <ul>
                <span class="logo">loguinho</span>
                <p>dfsjhfdjhfdshjfdsjhfdhjlffs</p>
                <span class="social">
                    <li><a href="#">FB </a></li>
                    <li><a href="#">TT </a></li>
                    <li><a href="#">IN </a></li>
                </span>
            </ul>
            <hr>
        </div>

        <div class="footer-card">
            <ul>
                <li>
                    <h3> Como tudo começou...</h3>
                </li>
                <li><a href="#">lorem etc </a></li>
                <li><a href="#">lorem etc </a></li>
                <li><a href="#">lorem etc </a></li>
            </ul>
        </div>

        <div class="footer-card">
            <ul>
                <li>
                    <h3> Como tudo começou...</h3>
                </li>
                <li><a href="#">lorem etc </a></li>
                <li><a href="#">lorem etc </a></li>
                <li><a href="#">lorem etc </a></li>
            </ul>
        </div>
        <footer></footer>
        <div id="modal" class="login-container">
            <div class="login">
                <button class="btnfechar">x</button>
                <h2 class="h2-login">Entre</h2>
                <form action="/">
                    {% csrf_token %}
                    <p>Digite seu e-mail:</p>
                    <input type="email" name="email" placeholder=' exemplo@gmail.com' required>
                    <p>Digite sua senha:</p>
                    <input type="password">
                    <p></p>
                    <input class="entrarbtn" type="button" value="Entrar  ">
                </form>
            </div>

        </div>
</body>
{% endblock %}